*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility */
.flex{
  display: flex;
}
.space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}


/* header */
nav{
  background-color: rgba(0,132,253,255);
  padding: 10px 20px;
}
.links{
  color: white;
  font-size: 25px;
}