*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
p{
  font-size: 20px;
}

/* utility */
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.wrap{
  flex-wrap: wrap;
}
.col-80{
  margin: 0 auto;
  width: 80%;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-30{
  margin-bottom: 30px;
}
.btn-blue{
  background-color: rgb(0,132,253);
  padding: 10px 35px ;
  display: inline-block;
  border-radius: 25px;
  color: white;
}
.btn-purple{
  background-color: rgb(151,146,228);
  display: inline-block;
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 20px;
}


/* header */
nav{
  background-color: rgb(0,132,253);
  padding: 10px 20px;
}
.links{
  color: white;
  font-size: 25px;
}
.header-container h2{
  color: rgb(0,132,253);
  font-size: 30px;
}
.header-container p{
  color: rgb(90,110,127);
}
.card-head-1,
.card-head-2,
.card-head-3,
.card-head-4,
.card-head-5{
  background-color: rgb(181,221,255);
  border-radius: 20px;
  flex-basis: 100%;
}
.card-head-2 i,
.card-head-3 i,
.card-head-4 i,
.card-head-5 i{
  font-size: 100px;
  color: rgb(0,132,253);
}
.card-head-1{
  padding: 30px 30px 0px 30px;
}
.card-head-1 img{
  width: 100%;
}
.card-head-2,
.card-head-3,
.card-head-4,
.card-head-5{
  text-align: center;
  padding: 20px 35px;
}


/* main */
/* section 1 */
.section-1 img{
  width: 100%;
}
.section-1{
  background-color: rgb(151,146,228);
  color: white;
  padding: 60px 0;
}
.section-1 h2{
  font-size: 40px;
}
.section-1 h3{
  font-size: 30px;
}
.card-white{
  background-color: white;
  color: black;
  padding: 30px 40px;
  text-align: center;
  border-radius: 50px;
}


/* section 2 */
.section-2 h2{
  font-size: 35px;
  color: rgb(151,146,228);
}
.section-2{
  padding: 50px 0;
  text-align: center;
}
.testimonial-1,
.testimonial-2,
.testimonial-3{
  background-color: rgb(151,146,228);
  padding: 30px 10px;
  border-radius: 50px;
  color: white;
}
.testimonial-1 span,
.testimonial-2 span,
.testimonial-3 span{
  font-size: 20px;
  font-weight: bold;
}
.box-img img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

/* section 3 */
.section-3{
  background-color: rgb(151,146,228);
  padding: 50px 0;
}
.section-3 > .col-80 > h2{
  text-align: center;
  font-size: 40px;
  color: white;
}
.benefit-card{
  background-color: white;
  padding: 35px 30px;
  border-radius: 50px;
  flex-basis: calc(100% / 1);
}
.benefit-card h2{
  color: rgb(151,146,228);
  font-size: 70px;
}
.benefit-card h3{
  color: rgb(151,146,228);
  font-size: 30px;
}
.benefit-card .btn-purple{
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-weight: 700;
}